nav
{
    width: 200px;
    background-color:  #F9E497;
    color: #870101;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 9px;
    box-shadow: 6px 6px 0 #870101;
    
    
}
ul
{
    margin-bottom: 9px;
    margin-top: 0;
    margin-right: 9px;
    margin-left: 9px;
    padding: 0;
    list-style-type: none;
}
li
{
    font-size: 15px;
    margin-top: 9px;
}