body
{
    background-color: black;
    margin:0;
    font-family: sans-serif
}
.main
{
    background: linear-gradient(to top, #DEDEDE, #fff);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 10px 10px;
    height: 270px;
    
}
.content
{
    padding: 60px 10px 10px;
    width: 376px;
    border-radius: 0 0 10px 10px;
    border: 2px solid white;
    margin-top: 10px;
    overflow: auto;
    height: 196px;
}
h1
{
  position: relative;
  line-height: 50px;
  color: #f8b45f;
  margin-top: 10px;
  margin-bottom: -60px;
  padding-left: 10px;
  width: 120px;
  background-image: linear-gradient(120deg, black 80%, rgba(255, 255, 255, 0) 81%);
}